[package]
name = "libsecp256k1"
description = "Pure Rust secp256k1 implementation."
license = "Apache-2.0"
version = "0.3.0"
authors = ["Wei Tang <hi@that.world>"]
repository = "https://github.com/sorpaas/libsecp256k1-rs"
keywords = [ "crypto", "ECDSA", "secp256k1", "bitcoin", "no_std" ]
edition = "2018"

[lib]
name = "secp256k1"

[dependencies]
rand = { version = "0.6", default-features = false }
hmac-drbg = "0.2"
sha2 = "0.8"
digest = "0.8"
typenum = "1.11"
arrayref = "0.3"

[dev-dependencies]
secp256k1-test = "0.7"
clear_on_drop = "0.2"
rand-test = { package = "rand", version = "0.4" }

[workspace]
members = [
  "./gen/ecmult",
  "./gen/genmult",
]
