[package]
name = "libsecp256k1"
description = "Pure Rust secp256k1 implementation."
license = "Apache-2.0"
version = "0.3.2"
authors = ["Wei Tang <hi@that.world>"]
repository = "https://github.com/paritytech/libsecp256k1"
keywords = [ "crypto", "ECDSA", "secp256k1", "bitcoin", "no_std" ]
edition = "2018"

[lib]
name = "secp256k1"

[dependencies]
rand = { version = "0.6", default-features = false }
hmac-drbg = "0.2"
sha2 = { version = "0.8", default-features = false }
digest = "0.8"
typenum = "1.11"
arrayref = "0.3"
subtle = { version = "2.2", default-features = false }
serde =  { version = "1.0.101", features = ["derive"], optional = true }
base64 = "0.10"

[dev-dependencies]
secp256k1-test = "0.7"
clear_on_drop = "0.2"
rand-test = { package = "rand", version = "0.4" }
serde_json = "1.0"

[features]
default = ["std"]
std = ["subtle/std", "rand/std", "sha2/std", "serde"]

[workspace]
members = [
  "./gen/ecmult",
  "./gen/genmult",
]
